
<header>
    <h1>{{ title }}</h1>
    <p>Extract a weeks airline schedules from FlightAware</br>
    Week starts from 00:00 UTC on the UTC date selected in the field below </br>
    Use the 3 digit ICAO code for airlines (i.e. ANZ not NZ, BAW not BA) </br>
    WARNING!!! Once you press go you are liable for all costs on FlightAware. </br>
    To minimise results code share records have been disabled and only one week is downloaded. </br>
    For example Air NZ generates ~4000 individual flights. On current FlightAware pricing a page is 15 results, and a page is USD$0.02</br>
    So Air NZ weekly rosters would be ~USD$5.33 per execution.
    </p>
</header>