<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../public/img/weathericon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- styles -->
    <link rel="stylesheet" href="css/styles.css" />
    <title>{{ title }}</title>
</head>
<body>
    {{>header}}
    <div class="main-content container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-5">
                    <p>Extract a weeks airline schedules from FlightAware</br>
                    Week starts from 00:00 UTC on the UTC date selected in the field below </br>
                    Use the 3 digit ICAO code for airlines (i.e. ANZ not NZ, BAW not BA) </br>
                    WARNING!!! Once you press go you are liable for all costs on FlightAware. </br>
                    To minimise results code share records have been disabled and only one week is downloaded. </br>
                    For example Air NZ generates ~4000 individual flights. On current FlightAware pricing a page is 15 results, and a page is USD$0.02</br>
                    So Air NZ weekly rosters would be ~USD$5.33 per execution.
                    </p>
                <form id="info">
                    <fieldset>
                        <legend>Airline Schedule Information</legend>
                        <div class="form-group">
                            <label for="icao-code">3 Character ICAO Code of Airline</label>
                            <input class="form-control" id="icao-code" type="text" placeholder="ICAO Code" aria-placeholder="ICAO Code">
                        </div>
                        <div class="form-group">
                            <label for="start-schedule">First Day of Weeks Schedule (UTC)</label>
                            <input class="form-control" id="start-schedule" type="date">
                        </div>
                        <div class="form-group">
                            <label for="api-key">FlightAware API Key</label>
                            <input class="form-control" id="api-key" type="text" placeholder="FlightAware API Key" aria-placeholder="FlightAware API Key">
                        </div>
                        <button class="btn btn-outline-primary" type="submit">Get Schedule</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-6">
                <h2>Download JSON:</h2>
                <p class="message-1 lead"></p>

                <h2>Download CSV:</h2>
                <blockquote class="message-2"></blockquote>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="/js/app.js"></script>
  </body>
</body>
</html>